/* MAIN CSS */
*{
    margin: 0;
    padding:0;
}

.body{
    width: 600px;
    height: 500px;
    background-image: url(./assets/background.jpg);
    border: 1px solid;
    margin: auto;
}

@font-face {
    font-family: nolan-bold;
    src: url(./fonts/Nolan-Bold.woff);
}

@font-face {
    font-family: nolan-extrabold;
    src: url(./fonts/Nolan-ExtraBold.woff);
}

/* HEADER */

.header{
    margin: 1px 0px 0px 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    bottom: 0; left:0;
    border-bottom: 40px solid #AE191F;
    border-right: 40px solid transparent;
    width: 0;
}

.empty{
    width: 65px;
    height: 7px;
    position: absolute;
    background-color: #AE191F;
    margin-left: 30px;
}

.gsk{
    margin-top: 10px;
}


/* CONTAINER */

.container{
    width: 100%;
    overflow: hidden;
}

.slider{
    width: 100%;
    display: flex;
    
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-shrink: 0;
}



/* SECTION 1 */

.presentation{
    display: flex;
    flex-direction: column;
    margin: 46px 10px;
}

.presentation p{
    font-family: nolan-bold;
    color: white;
    font-size: 19px;
}

.text3{
    margin-bottom: 15px;
}

.link1{
    margin-left: 10px;
}

.link1 a{
    color: white;
    font-family: nolan-bold;
    text-transform: uppercase;
    font-size: 13px;
}


/* SECTION 2 */

.item{
    text-align: center;
}
.item p{
    font-family: nolan-extrabold;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    padding: 15px;
    margin: 5px;
}



/* SECTION 3 */

.box-vaccines{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 150px;
}

.vaccines{
    display: flex;
    flex-direction: column;
    width: 455px;
}

.text1{
    margin-bottom: 10px;
}

.text1 p{
    font-family: nolan-extrabold;
    text-transform: uppercase;  
    color: white;  
    font-size: 25px;
}

.text2 p{
    font-family: nolan-bold;
    color: white;
    font-size: 18px;
}

.link{
    margin: 10px;
}

.link a{
    color: white;
    font-family: nolan-bold;
    text-transform: uppercase;
    font-size: 13px;
}

.box-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: white;
    border: none;
    padding: 10px;
    font-family: nolan-extrabold;
    text-transform: uppercase;
    font-size: 18px;
    width: 300px;
}

.button a{
    text-decoration: none;
    color: #9e0b11;
}

/* SECTION 4 WITH SCROLLBAR */

.containers{
    background-color: white;
    height: 175px;
}

.scroll{
    display: flex;
    justify-content:end;
    margin: 5px 20px;
    font-family: nolan-extrabold;
    text-transform: uppercase;
    color: #3e3e46;
}

.paragraphs p{
    text-align: justify;
    margin: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #3e3e46;
}